



.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    width: 350px;
    height: 300px;
}

.card{
    // margin-left: 15%;
    // width: 70%;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;
    text-align: center;
}

img {
    width:250px;
    height:250px ;
}

section {
    text-align: center;
}

main {
    min-height:30em ;
    
}

.card{
    display:inline-block;
}
li{
    text-decoration: none;
}