$red: black;
$black: black;

$text-align:center;

footer {
 
  background-color:#eee ;
  text-align: $text-align;
  color: $red;

}

footer {
    // position:fixed;
   margin-top: 5em;
    // left: 0;
    // bottom: 0;
    width: 100%;
    line-height: 65px;
    height: 5em;
    
    // color: white;
    text-align:  $text-align;
  }