$black: black;
$text-align:center;
$red: red;

header {
    background-color:$black;
    text-align: $text-align;
    color:$red;
}



li {
    /* display: inline; */
    position: left;
    margin: 0 50px;
    text-decoration: none;
}

a {
    text-decoration: none;
}
