$black: black;
$text-align:center;
$red: red;

header {
    background-color:$black;
    text-align: $text-align;
    color:$red;
}



li {
    display: inline;
    position: left;
    // padding: 50px;
    margin: 0 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
}
